<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMUff5kFkrZtHjhpVuMq4lsaCU8JNB8k4</string>
	<key>GCM_SENDER_ID</key>
	<string>628991235810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp.flutterapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>superai-61980</string>
	<key>STORAGE_BUCKET</key>
	<string>superai-61980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628991235810:ios:640f419dcb083b765cb0bb</string>
</dict>
</plist>